.card img.img-responsive{
    width: 100%;
}


.container{
    padding-top: 5px;
}

#search-form{
    padding-top: 15px;
}

#search{
padding-left: 5%;
padding-top: 0;
}

.caption-full{
    padding: 9px;
}

#desc{
    margin-top: 10px;
}

#comments{
    margin-top: 25px;
    padding-top: 30px;
}

#campname{
    font-size: 1.75rem;
}
h2{
    padding-top: 25px;
    text-align: center;
}

form{
    padding-top: 20px;
    width: 70%;
    padding-left:30% ;
    text-align: center;
}

form#delete{
    display: inline;
    padding: 0%;
}

#addcomment{
    text-align: right;
    padding-bottom: 25px;
    width: 100%;
}

.user-details{
    border-right: 1px solid rgba(00, 00,00, 0.1);
    padding-right: 50px;
    text-align: center;
}
.user-details img{
    margin-bottom: 15px;
    border: 0.5px solid rgba(00, 00,00, 0.1);
    background-color: rgba(00, 00,00, 0.1);
    width: 100%;
}
.user-camp{
    text-align: center;
    margin-bottom: 50px;
}
.user-camp img{
    margin-bottom: 15px;
    width: 60%;
}
.user-camp p{
margin-bottom: 8px;
}

